*{
  box-sizing: border-box;
}



.App {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


}

.title{
  position: absolute;
  top:0;
  
}

.quote{
  width:500px;
height: 400px;
background-color: rgb(68 97 170 / 30%);
border: 1px solid blue;
padding: 10px;
box-shadow: 5px 10px 18px #0000ffb5;
position: relative;
display: flex;


}
.quote-box{
  align-self: center;
}

.refresh{
position: absolute;
bottom: 0;
left: 0;
padding: 15px;
font-size: 25px;
}
.copy{
  position: absolute;
bottom: 0;
right: 0;
padding:15px;
font-size: 25px;

}
.twitter{
  position: absolute;
bottom: 0;
left:30px;
padding: 15px;
font-size: 25px;

}
.author{
  position: absolute;
  bottom:50px;
  right:10px;
}
.copied{
  font-size: 20px;
}
button{
  font-size: 16px;
   padding: 5px;
  border-radius: 25px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #111;
        background:#819694;
        box-shadow: 0 0 50px #819694;
}


@media only screen and (max-width: 600px) {

  .quote{
    width:200px;
  height: 400px;
 
  
  
  }
}

  @media only screen and (min-width: 768px) {
    .quote{
      width:400px;
    height: 400px;
    
    }  

  }
  @media only screen and (min-width: 992px) {
    .quote{
      width:700px;
    height: 500px;
    
    }  
  }
